.image_acteur {
   text-align: left;
   vertical-align: middle;
   width: 80px;
   height: 80px;
   margin: 10px;
   border-radius: 40px;
   background-size: cover;
   background-repeat: no-repeat;
   display: inline-block;
}

#image_Avenger {
   object-fit: cover;
   padding: 0;
   margin: 0;
   width: 550px;
   height: auto;
}



body {
   background: linear-gradient(black, white, black);
   background-size: cover;
   background-repeat: no-repeat;
}

table,
td,
th {
   max-height: 1500px;
   max-width: 1000px;
   border-collapse: collapse;
   margin: auto;
}

#titre_du_film {
   max-height: 15px;
   font-size: 35px;
   background-color: black;
   color: white;
   border: black solid 3px;
}

table {
   background-color: white;
}

.acteurs {
   font-weight: bold;
   font-size: 27px;
   font-family: cursive;

}

#Distribution {
   height: 28px;
   color: rgb(202, 167, 167);
   padding-left: 5px;
   text-align: left;
   background-color: black;
   font-size: 28px;
   width: 466px;
   font-weight: bold;
}

.Personnages_du_film {
   font-style: italic;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 17px;
   color: rgb(202, 167, 167);
}

.liste_des_ul {
   padding-top: 20px;
   list-style-type: disc;
   font-size: 20px;

}

.liste_des_titre {
   list-style-type: none;
   padding: 0px;
   margin: 0px;
   font-weight: bold;
   font-size: 27px;
   font-family: cursive;
}

#Sous-titre_synopsis {
   text-align: left;
   font-size: 23px;
   padding-top: 7px;
   padding-bottom: 15px;
   padding-left: 7px;
   font-family: Arial, Helvetica, sans-serif;
}

#synopsis {
   text-align: left;
   padding-left: 3px;
   padding-bottom: 20px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: smaller;
}
.liste_des_li{

   font-size: 15px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-weight:lighter;
}